# Шаблон змінних для передачі стану між заняттями.
# Не записуйте сюди реальні access key, secret key або паролі.

AWS_REGION=
PROJECT_NAME=cloud-operations-portal
OWNER=

VPC_ID=
IGW_ID=
SUBNET_A_ID=
SUBNET_B_ID=
RT_ID=
NACL_ID=
SG_ID=

# Заповнюються на наступних етапах модуля.
INSTANCE_A_ID=
INSTANCE_B_ID=
TG_ARN=
ALB_ARN=
BUCKET_NAME=
DISTRIBUTION_ID=
FUNCTION_NAME=
